<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreatePedidoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreatePedidoLabel_idpedido}" for="idpedido" />
                    <h:inputText id="idpedido" value="#{pedidoController.selected.idpedido}" title="#{bundle.CreatePedidoTitle_idpedido}" required="true" requiredMessage="#{bundle.CreatePedidoRequiredMessage_idpedido}"/>
                    <h:outputLabel value="#{bundle.CreatePedidoLabel_idclientes}" for="idclientes" />
                    <h:inputText id="idclientes" value="#{pedidoController.selected.idclientes}" title="#{bundle.CreatePedidoTitle_idclientes}" required="true" requiredMessage="#{bundle.CreatePedidoRequiredMessage_idclientes}"/>
                    <h:outputLabel value="#{bundle.CreatePedidoLabel_nombrep}" for="nombrep" />
                    <h:inputText id="nombrep" value="#{pedidoController.selected.nombrep}" title="#{bundle.CreatePedidoTitle_nombrep}" required="true" requiredMessage="#{bundle.CreatePedidoRequiredMessage_nombrep}"/>
                    <h:outputLabel value="#{bundle.CreatePedidoLabel_descripcionp}" for="descripcionp" />
                    <h:inputTextarea rows="4" cols="30" id="descripcionp" value="#{pedidoController.selected.descripcionp}" title="#{bundle.CreatePedidoTitle_descripcionp}" required="true" requiredMessage="#{bundle.CreatePedidoRequiredMessage_descripcionp}"/>
                    <h:outputLabel value="#{bundle.CreatePedidoLabel_fechapedido}" for="fechapedido" />
                    <h:inputText id="fechapedido" value="#{pedidoController.selected.fechapedido}" title="#{bundle.CreatePedidoTitle_fechapedido}" required="true" requiredMessage="#{bundle.CreatePedidoRequiredMessage_fechapedido}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreatePedidoLabel_entregado}" for="entregado" />
                    <h:inputText id="entregado" value="#{pedidoController.selected.entregado}" title="#{bundle.CreatePedidoTitle_entregado}" required="true" requiredMessage="#{bundle.CreatePedidoRequiredMessage_entregado}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{pedidoController.create}" value="#{bundle.CreatePedidoSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{pedidoController.prepareList}" value="#{bundle.CreatePedidoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreatePedidoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
