<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewPedidoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewPedidoLabel_idpedido}"/>
                    <h:outputText value="#{pedidoController.selected.idpedido}" title="#{bundle.ViewPedidoTitle_idpedido}"/>
                    <h:outputText value="#{bundle.ViewPedidoLabel_idclientes}"/>
                    <h:outputText value="#{pedidoController.selected.idclientes}" title="#{bundle.ViewPedidoTitle_idclientes}"/>
                    <h:outputText value="#{bundle.ViewPedidoLabel_nombrep}"/>
                    <h:outputText value="#{pedidoController.selected.nombrep}" title="#{bundle.ViewPedidoTitle_nombrep}"/>
                    <h:outputText value="#{bundle.ViewPedidoLabel_descripcionp}"/>
                    <h:outputText value="#{pedidoController.selected.descripcionp}" title="#{bundle.ViewPedidoTitle_descripcionp}"/>
                    <h:outputText value="#{bundle.ViewPedidoLabel_fechapedido}"/>
                    <h:outputText value="#{pedidoController.selected.fechapedido}" title="#{bundle.ViewPedidoTitle_fechapedido}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewPedidoLabel_entregado}"/>
                    <h:outputText value="#{pedidoController.selected.entregado}" title="#{bundle.ViewPedidoTitle_entregado}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{pedidoController.destroyAndView}" value="#{bundle.ViewPedidoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewPedidoEditLink}"/>
                <br />
                <h:commandLink action="#{pedidoController.prepareCreate}" value="#{bundle.ViewPedidoCreateLink}" />
                <br />
                <h:commandLink action="#{pedidoController.prepareList}" value="#{bundle.ViewPedidoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewPedidoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
