<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateCiudadesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateCiudadesLabel_idciudad}" for="idciudad" />
                    <h:inputText id="idciudad" value="#{ciudadesController.selected.idciudad}" title="#{bundle.CreateCiudadesTitle_idciudad}" required="true" requiredMessage="#{bundle.CreateCiudadesRequiredMessage_idciudad}"/>
                    <h:outputLabel value="#{bundle.CreateCiudadesLabel_nombrec}" for="nombrec" />
                    <h:inputText id="nombrec" value="#{ciudadesController.selected.nombrec}" title="#{bundle.CreateCiudadesTitle_nombrec}" required="true" requiredMessage="#{bundle.CreateCiudadesRequiredMessage_nombrec}"/>
                    <h:outputLabel value="#{bundle.CreateCiudadesLabel_descripcionc}" for="descripcionc" />
                    <h:inputTextarea rows="4" cols="30" id="descripcionc" value="#{ciudadesController.selected.descripcionc}" title="#{bundle.CreateCiudadesTitle_descripcionc}" required="true" requiredMessage="#{bundle.CreateCiudadesRequiredMessage_descripcionc}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{ciudadesController.create}" value="#{bundle.CreateCiudadesSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{ciudadesController.prepareList}" value="#{bundle.CreateCiudadesShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateCiudadesIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
