<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditCiudadesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditCiudadesLabel_idciudad}" for="idciudad" />
                    <h:inputText id="idciudad" value="#{ciudadesController.selected.idciudad}" title="#{bundle.EditCiudadesTitle_idciudad}" required="true" requiredMessage="#{bundle.EditCiudadesRequiredMessage_idciudad}"/>
                    <h:outputLabel value="#{bundle.EditCiudadesLabel_nombrec}" for="nombrec" />
                    <h:inputText id="nombrec" value="#{ciudadesController.selected.nombrec}" title="#{bundle.EditCiudadesTitle_nombrec}" required="true" requiredMessage="#{bundle.EditCiudadesRequiredMessage_nombrec}"/>
                    <h:outputLabel value="#{bundle.EditCiudadesLabel_descripcionc}" for="descripcionc" />
                    <h:inputTextarea rows="4" cols="30" id="descripcionc" value="#{ciudadesController.selected.descripcionc}" title="#{bundle.EditCiudadesTitle_descripcionc}" required="true" requiredMessage="#{bundle.EditCiudadesRequiredMessage_descripcionc}"/>
                </h:panelGrid>
                <h:commandLink action="#{ciudadesController.update}" value="#{bundle.EditCiudadesSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditCiudadesViewLink}"/>
                <br />
                <h:commandLink action="#{ciudadesController.prepareList}" value="#{bundle.EditCiudadesShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditCiudadesIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
