<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListCiudadesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListCiudadesEmpty}" rendered="#{ciudadesController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{ciudadesController.items.rowCount > 0}">
                    <h:outputText value="#{ciudadesController.pagination.pageFirstItem + 1}..#{ciudadesController.pagination.pageLastItem + 1}/#{ciudadesController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{ciudadesController.previous}" value="#{bundle.Previous} #{ciudadesController.pagination.pageSize}" rendered="#{ciudadesController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{ciudadesController.next}" value="#{bundle.Next} #{ciudadesController.pagination.pageSize}" rendered="#{ciudadesController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{ciudadesController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCiudadesTitle_idciudad}"/>
                            </f:facet>
                            <h:outputText value="#{item.idciudad}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCiudadesTitle_nombrec}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombrec}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCiudadesTitle_descripcionc}"/>
                            </f:facet>
                            <h:outputText value="#{item.descripcionc}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{ciudadesController.prepareView}" value="#{bundle.ListCiudadesViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{ciudadesController.prepareEdit}" value="#{bundle.ListCiudadesEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{ciudadesController.destroy}" value="#{bundle.ListCiudadesDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{ciudadesController.prepareCreate}" value="#{bundle.ListCiudadesCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListCiudadesIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
