<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewCiudadesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewCiudadesLabel_idciudad}"/>
                    <h:outputText value="#{ciudadesController.selected.idciudad}" title="#{bundle.ViewCiudadesTitle_idciudad}"/>
                    <h:outputText value="#{bundle.ViewCiudadesLabel_nombrec}"/>
                    <h:outputText value="#{ciudadesController.selected.nombrec}" title="#{bundle.ViewCiudadesTitle_nombrec}"/>
                    <h:outputText value="#{bundle.ViewCiudadesLabel_descripcionc}"/>
                    <h:outputText value="#{ciudadesController.selected.descripcionc}" title="#{bundle.ViewCiudadesTitle_descripcionc}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{ciudadesController.destroyAndView}" value="#{bundle.ViewCiudadesDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewCiudadesEditLink}"/>
                <br />
                <h:commandLink action="#{ciudadesController.prepareCreate}" value="#{bundle.ViewCiudadesCreateLink}" />
                <br />
                <h:commandLink action="#{ciudadesController.prepareList}" value="#{bundle.ViewCiudadesShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewCiudadesIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
