<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateAdministradorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateAdministradorLabel_idadmin}" for="idadmin" />
                    <h:inputText id="idadmin" value="#{administradorController.selected.idadmin}" title="#{bundle.CreateAdministradorTitle_idadmin}" required="true" requiredMessage="#{bundle.CreateAdministradorRequiredMessage_idadmin}"/>
                    <h:outputLabel value="#{bundle.CreateAdministradorLabel_username}" for="username" />
                    <h:inputText id="username" value="#{administradorController.selected.username}" title="#{bundle.CreateAdministradorTitle_username}" required="true" requiredMessage="#{bundle.CreateAdministradorRequiredMessage_username}"/>
                    <h:outputLabel value="#{bundle.CreateAdministradorLabel_rango}" for="rango" />
                    <h:inputText id="rango" value="#{administradorController.selected.rango}" title="#{bundle.CreateAdministradorTitle_rango}" />
                    <h:outputLabel value="#{bundle.CreateAdministradorLabel_email}" for="email" />
                    <h:inputText id="email" value="#{administradorController.selected.email}" title="#{bundle.CreateAdministradorTitle_email}" required="true" requiredMessage="#{bundle.CreateAdministradorRequiredMessage_email}"/>
                    <h:outputLabel value="#{bundle.CreateAdministradorLabel_ciudad}" for="ciudad" />
                    <h:inputText id="ciudad" value="#{administradorController.selected.ciudad}" title="#{bundle.CreateAdministradorTitle_ciudad}" />
                    <h:outputLabel value="#{bundle.CreateAdministradorLabel_pais}" for="pais" />
                    <h:inputText id="pais" value="#{administradorController.selected.pais}" title="#{bundle.CreateAdministradorTitle_pais}" />
                    <h:outputLabel value="#{bundle.CreateAdministradorLabel_password}" for="password" />
                    <h:inputText id="password" value="#{administradorController.selected.password}" title="#{bundle.CreateAdministradorTitle_password}" required="true" requiredMessage="#{bundle.CreateAdministradorRequiredMessage_password}"/>
                    <h:outputLabel value="#{bundle.CreateAdministradorLabel_fecharegistro}" for="fecharegistro" />
                    <h:inputText id="fecharegistro" value="#{administradorController.selected.fecharegistro}" title="#{bundle.CreateAdministradorTitle_fecharegistro}" required="true" requiredMessage="#{bundle.CreateAdministradorRequiredMessage_fecharegistro}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{administradorController.create}" value="#{bundle.CreateAdministradorSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{administradorController.prepareList}" value="#{bundle.CreateAdministradorShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateAdministradorIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
