<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditAdministradorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditAdministradorLabel_idadmin}" for="idadmin" />
                    <h:inputText id="idadmin" value="#{administradorController.selected.idadmin}" title="#{bundle.EditAdministradorTitle_idadmin}" required="true" requiredMessage="#{bundle.EditAdministradorRequiredMessage_idadmin}"/>
                    <h:outputLabel value="#{bundle.EditAdministradorLabel_username}" for="username" />
                    <h:inputText id="username" value="#{administradorController.selected.username}" title="#{bundle.EditAdministradorTitle_username}" required="true" requiredMessage="#{bundle.EditAdministradorRequiredMessage_username}"/>
                    <h:outputLabel value="#{bundle.EditAdministradorLabel_rango}" for="rango" />
                    <h:inputText id="rango" value="#{administradorController.selected.rango}" title="#{bundle.EditAdministradorTitle_rango}" />
                    <h:outputLabel value="#{bundle.EditAdministradorLabel_email}" for="email" />
                    <h:inputText id="email" value="#{administradorController.selected.email}" title="#{bundle.EditAdministradorTitle_email}" required="true" requiredMessage="#{bundle.EditAdministradorRequiredMessage_email}"/>
                    <h:outputLabel value="#{bundle.EditAdministradorLabel_ciudad}" for="ciudad" />
                    <h:inputText id="ciudad" value="#{administradorController.selected.ciudad}" title="#{bundle.EditAdministradorTitle_ciudad}" />
                    <h:outputLabel value="#{bundle.EditAdministradorLabel_pais}" for="pais" />
                    <h:inputText id="pais" value="#{administradorController.selected.pais}" title="#{bundle.EditAdministradorTitle_pais}" />
                    <h:outputLabel value="#{bundle.EditAdministradorLabel_password}" for="password" />
                    <h:inputText id="password" value="#{administradorController.selected.password}" title="#{bundle.EditAdministradorTitle_password}" required="true" requiredMessage="#{bundle.EditAdministradorRequiredMessage_password}"/>
                    <h:outputLabel value="#{bundle.EditAdministradorLabel_fecharegistro}" for="fecharegistro" />
                    <h:inputText id="fecharegistro" value="#{administradorController.selected.fecharegistro}" title="#{bundle.EditAdministradorTitle_fecharegistro}" required="true" requiredMessage="#{bundle.EditAdministradorRequiredMessage_fecharegistro}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                </h:panelGrid>
                <h:commandLink action="#{administradorController.update}" value="#{bundle.EditAdministradorSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditAdministradorViewLink}"/>
                <br />
                <h:commandLink action="#{administradorController.prepareList}" value="#{bundle.EditAdministradorShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditAdministradorIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
