<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListAdministradorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListAdministradorEmpty}" rendered="#{administradorController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{administradorController.items.rowCount > 0}">
                    <h:outputText value="#{administradorController.pagination.pageFirstItem + 1}..#{administradorController.pagination.pageLastItem + 1}/#{administradorController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{administradorController.previous}" value="#{bundle.Previous} #{administradorController.pagination.pageSize}" rendered="#{administradorController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{administradorController.next}" value="#{bundle.Next} #{administradorController.pagination.pageSize}" rendered="#{administradorController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{administradorController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdministradorTitle_idadmin}"/>
                            </f:facet>
                            <h:outputText value="#{item.idadmin}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdministradorTitle_username}"/>
                            </f:facet>
                            <h:outputText value="#{item.username}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdministradorTitle_rango}"/>
                            </f:facet>
                            <h:outputText value="#{item.rango}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdministradorTitle_email}"/>
                            </f:facet>
                            <h:outputText value="#{item.email}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdministradorTitle_ciudad}"/>
                            </f:facet>
                            <h:outputText value="#{item.ciudad}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdministradorTitle_pais}"/>
                            </f:facet>
                            <h:outputText value="#{item.pais}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdministradorTitle_password}"/>
                            </f:facet>
                            <h:outputText value="#{item.password}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdministradorTitle_fecharegistro}"/>
                            </f:facet>
                            <h:outputText value="#{item.fecharegistro}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{administradorController.prepareView}" value="#{bundle.ListAdministradorViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{administradorController.prepareEdit}" value="#{bundle.ListAdministradorEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{administradorController.destroy}" value="#{bundle.ListAdministradorDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{administradorController.prepareCreate}" value="#{bundle.ListAdministradorCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListAdministradorIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
