<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewAdministradorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewAdministradorLabel_idadmin}"/>
                    <h:outputText value="#{administradorController.selected.idadmin}" title="#{bundle.ViewAdministradorTitle_idadmin}"/>
                    <h:outputText value="#{bundle.ViewAdministradorLabel_username}"/>
                    <h:outputText value="#{administradorController.selected.username}" title="#{bundle.ViewAdministradorTitle_username}"/>
                    <h:outputText value="#{bundle.ViewAdministradorLabel_rango}"/>
                    <h:outputText value="#{administradorController.selected.rango}" title="#{bundle.ViewAdministradorTitle_rango}"/>
                    <h:outputText value="#{bundle.ViewAdministradorLabel_email}"/>
                    <h:outputText value="#{administradorController.selected.email}" title="#{bundle.ViewAdministradorTitle_email}"/>
                    <h:outputText value="#{bundle.ViewAdministradorLabel_ciudad}"/>
                    <h:outputText value="#{administradorController.selected.ciudad}" title="#{bundle.ViewAdministradorTitle_ciudad}"/>
                    <h:outputText value="#{bundle.ViewAdministradorLabel_pais}"/>
                    <h:outputText value="#{administradorController.selected.pais}" title="#{bundle.ViewAdministradorTitle_pais}"/>
                    <h:outputText value="#{bundle.ViewAdministradorLabel_password}"/>
                    <h:outputText value="#{administradorController.selected.password}" title="#{bundle.ViewAdministradorTitle_password}"/>
                    <h:outputText value="#{bundle.ViewAdministradorLabel_fecharegistro}"/>
                    <h:outputText value="#{administradorController.selected.fecharegistro}" title="#{bundle.ViewAdministradorTitle_fecharegistro}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{administradorController.destroyAndView}" value="#{bundle.ViewAdministradorDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewAdministradorEditLink}"/>
                <br />
                <h:commandLink action="#{administradorController.prepareCreate}" value="#{bundle.ViewAdministradorCreateLink}" />
                <br />
                <h:commandLink action="#{administradorController.prepareList}" value="#{bundle.ViewAdministradorShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewAdministradorIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
