<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title
            
        </title>
    </h:head>
    <h:body>
         <h:form>  
    <p:growl id="messages"/>
 
    <p:menubar>
        <p:submenu label="Info">
                <p:menuitem value="About Us" url="about US.xhtml" />
        </p:submenu>
 
        <p:submenu label="Contact Us">
             <p:menuitem value="Facebook" url="https://www.facebook.com/" />
            <p:menuitem value="Instagran" url="https://www.instagram.com/?hl=es-la" />
        </p:submenu>
 
       <p:menuitem value="Services" url="services.xhtml" />
       
       <p:menuitem value="inicio" url="index.xhtml"/>
 
 
 
        <f:facet name="options">
           <p:button outcome="login" value="Login" style="margin-right:20px;">
</p:button>
          
        </f:facet>
    </p:menubar>
          </h:form>
        
      <h:form id="form">  
    <p:growl id="msgs" showDetail="true" />
    <h2>About US</h2>
    <p:accordionPanel multiple="true">
        <p:tab title="The Company">
            <h:panelGrid columns="2" cellpadding="10">
 
                <h:outputText
                    value="Veco Logistics S.A. is an international cargo and logistics company member of Veco Logistics Group, together we have more than 18 years of experience. 
                           Today we count with offices in Ecuador-Guayaquil,Quito,Cuenca. USA- Miami, Los Angeles, New York. Peru, Lima. As a result we are now the number one 
                           consolidator in Ecuador and can offer our customers a state-of-the-art combination of storage, transportation, logistics and cargo management. 
                           Whether you are a manufacturer, distributor, importer or retailer Veco provides all the necessary functions to seamlessly ship, store and deliver your products." />
            </h:panelGrid>
        </p:tab>
        <p:tab title="La Compañia">
            <h:panelGrid columns="2" cellpadding="10">
                <h:outputText value="Veco Logistics S.A. es un agente internacional de carga y comercio exterior, miembro de Veco Logistics Group con mas de 18 años de experiencia y actualmente somos el consolidador de carga número uno en Ecuador. 
                                       Contamos con oficinas propias en Ecuador -Guayaquil, Quito, Cuenca. USA- Miami, Los Angeles, New york. Peru- Lima. Esta infraestructura sumada a una larga lista de agentes a nivel mundial nos permite ofrecer a 
                                       nuestros clientes un servicio integral de logística, almacenamiento y movimiento de carga. " />
            </h:panelGrid>
        </p:tab>
       
    </p:accordionPanel>
 
    
      </h:form>
    </h:body>
    </html>
