<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Facelet 
        </title>
        <h:outputStylesheet name="css/jsfcrud.css"/>

    </h:head>
    <h:body>
        <h:form>  
            <p:growl id="messages"/>

            <p:menubar>
                <p:submenu label="Informacion">
                    <p:menuitem value="About Us" url="about US.xhtml" />
                </p:submenu>

                <p:submenu label="Contactenos">
                    <p:menuitem value="Facebook" url="https://www.facebook.com/" />
                    <p:menuitem value="Instagran" url="https://www.instagram.com/?hl=es-la" />
                </p:submenu>

                <p:menuitem value="Servicios" url="services.xhtml" />

                <p:menuitem value="Inicio" url="index.xhtml"/>



                <f:facet name="Opciones">
                    <p:button outcome="login" value="Login" style="margin-right:20px;">
                    </p:button>

                </f:facet>
            </p:menubar>
        </h:form>
        <br></br>
        <center><h:form>
                <p:galleria value="#{imagesView.images}" var="image" panelWidth="1200" panelHeight="500" showCaption="true">
                    <p:graphicImage name="/img/#{image}" title="Veco Logistic"/>
                </p:galleria>
            </h:form></center>
        <br></br>
        <br></br>
        <center><h:form>
                <style type="text/css">
                    .ui-panelgrid .ui-grid-responsive .ui-panelgrid-cell {
                        text-align: center;
                    }
                </style>


                <p:panelGrid columns="3" >            
                    <h:outputText value="Guayaquil" /> 
                    <h:outputText value="Quito" /> 
                    <h:outputText value="Cuenca" /> 

                    <h:outputText value="Av. Joaquín Orrantia y Leopoldo Benítez Edificio Sonesta Shops Mz 2 oficina 203
                                  Guayaquil, Guayas, Ecuador.
                                  Teléfono: +042.639.230	" /> 
                    <h:outputText value="Azuay N31-23 y Av. Amazonas Edificio Copladi Piso 10 PH
                                  Quito, Pichincha, Ecuador.
                                  Teléfono: +022.248.040	" /> 
                    <h:outputText value="Av. Remigio Tamariz y Federico Proaño, 
                                  Cuenca, Azuay, Ecuador.
                                  Edificio Office piso 5 oficina 5.5 
                                  Teléfono: +07.407.8213" /> 


                </p:panelGrid>

            </h:form>
        </center>
        <br />
        <h:link outcome="/administrador/List" value="Show All Administrador Items"/>
        <br />
        <h:link outcome="/ciudades/List" value="Show All Ciudades Items"/>
        <br />
        <h:link outcome="/clientes/List" value="Show All Clientes Items"/>
        <br />
        <h:link outcome="/empleado/List" value="Show All Empleado Items"/>
        <br />
        <h:link outcome="/paises/List" value="Show All Paises Items"/>
        <br />
        <h:link outcome="/pedido/List" value="Show All Pedido Items"/>
    </h:body>







</html>
