<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title
            
        </title>
    </h:head>
    <h:body>
        <p:link outcome="index" value="volver">
    <f:param name="go back" value="10" />
</p:link>
        <br></br>
        <br></br>
        <center>
            <p:growl id="growl" sticky="true" showDetail="true"></p:growl>
        <h:form>
            <p:panelGrid columns="2" style="position: absolute; top: 250px; left: 500px;">
                <f:facet name="header">Login Form</f:facet>
                <h:outputText value="Usuario"></h:outputText>
                <p:inputText value="#{loginController.username}"></p:inputText>
                <h:outputText value="Contraseña"></h:outputText>
                <p:password value="#{loginController.password}"></p:password>
                <f:facet name="footer">
                    <p:commandButton value="Login" action="#{loginController.loginControl()}"></p:commandButton>
                </f:facet>
            </p:panelGrid>
        </h:form>
        </center>
    </h:body>
    </html>
