<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Facelet Title
        </title>
    </h:head>
    <h:body>
        <h:form>  
    <p:growl id="messages"/>
 
    <p:menubar>
        <p:submenu label="User">
                <p:menuitem value="Datos" url="Userperfil.xhtml" />
        </p:submenu>
 
       
 
        <f:facet name="options">
           <p:button outcome="index" value="Logout" style="margin-right:20px;">
</p:button>
          
        </f:facet>
    </p:menubar>
      </h:form>
         
        
       
        <p:layout style="min-width:600px;min-height:500px;" >

                

           

                <p:layoutUnit position="west" size="175" header="User" collapsible="true">
                    <p:menu>
                        <p:submenu label="User">
                            
                            <p:menuitem value="Datos Usuario" url="Userperfil.xhtml" />
                       
                        </p:submenu>

                    </p:menu>
                </p:layoutUnit>
           
 <h:form>
    <p:growl id="msgs" showDetail="true" />
 
    <p:fieldset legend="Pedidos Actuales" style="margin-bottom:20px">
        <p:panelGrid columns="7">  
            
    <h:outputText value="Pedidos" /> 
    <h:outputText value="Fecha de envio" /> 
    <h:outputText value="Tiempo estimado" /> 
    <h:outputText value="Descripcion" />
    <h:outputText value="Compañia" /> 
    <h:outputText value="Usuario" /> 
    <h:outputText value="Archivo" /> 
       
    <h:outputText value="1" /> 
    <h:outputText value="14 de julio del 2019" /> 
    <h:outputText value="30 Días" /> 
    <h:outputText value="1 Contenedor de pasto" /> 
    <h:outputText value="Moreira Entreprice" /> 
    <h:outputText value="SirCriS" /> 
   <p:button  value="Download" style="margin-right:20px;"/>
 

     
    <h:outputText value="2" /> 
    <h:outputText value="12 de julio del 2019" /> 
    <h:outputText value="30 Días" /> 
    <h:outputText value="1 Contenedor de papel" /> 
    <h:outputText value="Moreira Entreprice" /> 
    <h:outputText value="SirCriS" /> 
  <p:button  value="Download" style="margin-right:20px;"/>
    
    <h:outputText value="3" /> 
    <h:outputText value="24 de julio del 2019" /> 
    <h:outputText value="30 Días" /> 
    <h:outputText value="1 Contenedor de encendedores" /> 
    <h:outputText value="Moreira Entreprice" /> 
    <h:outputText value="SirCriS" /> 
 <p:button value="Download"  disabled="false" style="margin-right:20px;"/>
    
    
</p:panelGrid>
    </p:fieldset>
            </h:form>


            </p:layout>
 
       
    </h:body>
    
</html>
