<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Facelet Title
        </title>
    </h:head>
    <h:body>
      
   <h:form>  
    <p:growl id="messages"/>
 
    <p:menubar>
        <p:menuitem value="Save" />
        
        <p:menuitem value="Delete"/>
 
        <f:facet name="options">
            <p:inputText style="margin:1px 10px 1px 1px;" placeholder="Search"/>
        <p:button outcome="login" value="Logout" style="margin-right:20px;"/>

        </f:facet>
    </p:menubar>
</h:form>
         <h:form style="max-width: 1200px;">
    <p:growl id="msgs" showDetail="true" />
    <p:fieldset legend="Usuario" style="margin-bottom:20px">
        <h:panelGrid columns="2" cellpadding="5">
            <h:form>
            <h:outputText value="Username: "/><p:inputText value="SirCris" /><br/>
            <h:outputText value="Name: " /><p:inputText value="Cristhian Moreira Pazmiño" /><br/>
            <h:outputText value="Country: "/><p:inputText value="Ecuador" /><br/>
            <h:outputText value="City: "/><p:inputText value="Guayaquil" /><br/>
            <h:outputText value="Email: "/><p:inputText value="leonardomoreirapazmio@gmail.com" /><br/>
            <h:outputText value="Company: "/><p:inputText value="Moreira Entreprice" /><br/>
            <h:outputText value="Tiempo Estimado: "/><p:inputText value="30 dias" /><br/>
             <h:outputText value="Fecha de envio: "/><p:inputText value="14 de julio 2019" /><br/>
             <h:outputText value="Descripcion: "/><p:inputText value="1 contenedor de Pasto" /><br/>
            <h:form enctype="multipart/form-data">
    <p:growl id="messages" showDetail="true" />
     
    <p:fileUpload value="#{fileUploadView.file}" mode="simple" />
     
    <br /> <br />
     
    <p:commandButton value="Submit" ajax="false" action="#{fileUploadView.upload}"  />
</h:form>
            </h:form>
        </h:panelGrid>
    </p:fieldset>
            </h:form>
        
        
    </h:body>
    
</html>
