<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        </h:head>
    <h:body>
        <p:link outcome="index" value="volver">
    <f:param name="go back" value="10" />
</p:link>
        <br></br>
        <br></br>
        <center>
        <h:form style="width:340px; display:flex; align-content:center;">
            
            <p:panel id="log" header="Register" style="margin-botton:10px;">
                <p:messages id="mensaje"/>
                <h:panelGrid columns="2" cellpadding="5">
                   
                    <h:outputLabel for="user" value="Nombre "/><br></br>
                    <p:inputText id="user" required="true"/><br></br>
                       
                    <h:outputLabel for="Email" value="Email "/><br></br>
                    <p:inputText id="email" required="true"/><br></br>
                    
                    <h:outputText value="Password"  /> <br></br>
                    <p:password id="feedback" value="#{passwordView.password2}" feedback="true" /> <br></br>
                    
                    <h:outputText value="Confirmar Password " /><br></br>
                    <p:password id="nonFeedback" value="#{passwordView.password1}" /><br></br>
                    
                 
                       
                   <p:commandButton value="Registar" type="button" onclick="PF('dlg2').show();" />
                   <p:dialog header="Ya esta registrado" widgetVar="dlg2" modal="true" height="100">
    <h:outputText value="Su cuenta fue creada con exito" />
</p:dialog>   
                    
                </h:panelGrid>
                </p:panel>
        
        
    </h:form>
        </center>
    </h:body>
    </html>
