<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Facelet Title
        </title>
    </h:head>
    <h:body>
        <h:form>  
    <p:growl id="messages"/>
 
    <p:menubar>
       <p:menuitem value="Atras" url="menu_user.xhtml" />
 
       
 
 
        <f:facet name="options">
           <p:button outcome="index" value="Logout" style="margin-right:20px;">
</p:button>
          
        </f:facet>
    </p:menubar>
      </h:form>
         
        
        <br></br>
        <center>
            <h:form style="max-width: 1200px;">
    <p:growl id="msgs" showDetail="true" />
    <p:fieldset legend="datos User" style="margin-bottom:20px">
        <h:panelGrid columns="2" cellpadding="5">
            <p:graphicImage name="/img/awaw.jpg" />
            <h:form>
            <h:outputText value="Name: " /><p:inputText value="Cristhian Moreira Pazmiño" /><br/>
            <h:outputText value="Country: "/><p:inputText value="Ecuador" /><br/>
            <h:outputText value="City: "/><p:inputText value="Guayaquil" /><br/>
            <h:outputText value="Email: "/><p:inputText value="leonardomoreirapazmio@gmail.com" /><br/>
            <h:outputText value="Company: "/><p:inputText value="Moreira Entreprice" /><br/>
            <h:outputText value="Username: "/><p:inputText value="SirCris" /><br/>
            </h:form>
            <p:commandButton value="Enviar" />
            <p:commandButton value="Delete User" />
        </h:panelGrid>
    </p:fieldset>
            </h:form>
        </center>
    </h:body>
    
</html>