<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Facelet title
        </title>
    </h:head>
    <h:body>
        <h:form>  
    <p:growl id="messages"/>
 
    <p:menubar>
        <p:submenu label="Services" icon="pi pi-file">
            <p:submenu label="New" icon="pi pi-briefcase">
                <p:menuitem value="Project" url="#" />
                <p:menuitem value="Other" url="#" />
            </p:submenu>
            <p:menuitem value="Open" url="#" />
            <p:separator />
            <p:menuitem value="Quit" url="#" />
        </p:submenu>
 
        <p:submenu label="Contact Us" icon="pi pi-pencil">
            <p:menuitem value="Undo" url="#" icon="pi pi-angle-double-left" />
            <p:menuitem value="Redo" url="#" icon="pi pi-angle-double-right" />
        </p:submenu>
 
        <p:submenu label="Help" icon="pi pi-question">
            <p:menuitem value="Contents" url="#" />
            <p:submenu label="Search" icon="pi pi-search">
                <p:submenu label="Text">
                    <p:menuitem value="Workspace" url="#" />
                </p:submenu>
                <p:menuitem value="File" url="#" />
            </p:submenu>
        </p:submenu>
 
        <p:submenu label="Popular" icon="pi pi-cog">
            <p:submenu label="Ajax" icon="pi pi-refresh">
                <p:menuitem value="Save" action="#{menuView.save}" icon="pi pi-save" update="messages"/>
                <p:menuitem value="Update" action="#{menuView.update}" icon="pi pi-refresh" update="messages"/>
            </p:submenu>
            <p:submenu label="Non-Ajax" icon="pi pi-clone">
                <p:menuitem value="Delete" action="#{menuView.delete}" icon="pi pi-times" update="messages" ajax="false"/>
            </p:submenu>
        </p:submenu>
 
        <p:menuitem value="Quit" url="http://www.primefaces.org" icon="pi pi-times" />
 
        <f:facet name="options">
          
           <p:link outcome="index" value="Log out" style="text-decoration: none;">
    <f:param name="log" value="10" />
</p:link>
        </f:facet>
    </p:menubar>
</h:form>
        <br></br>
        <h:form>
        <p:breadCrumb>
    <p:menuitem value="Categories" url="#" />
    <p:menuitem value="Sports" url="#" />
    <p:menuitem value="Basketball" url="#" />
    <p:menuitem value="NBA" url="#" />
    <p:menuitem value="Teams" url="#" />
    <p:menuitem value="L.A. Lakers" url="#" />
    <p:menuitem value="Roster" url="#" />
    <p:menuitem value="Kobe Bryant" url="#" />
</p:breadCrumb>
        </h:form>
        <br></br>
        <center>
            <h:form>
    <p:growl id="msgs" showDetail="true" />
 
    <p:fieldset legend="Pedidos Actuales" style="margin-bottom:20px">
        <p:panelGrid columns="7">  
            
    <h:outputText value="Pedidos efectuados" /> 
    <h:outputText value="Tiempo transcurrido" /> 
    <h:outputText value="Tiempo estimado" /> 
    <h:outputText value="Valor total" />
    <h:outputText value="Compañia" /> 
    <h:outputText value="Usuario" /> 
    <h:outputText value="Puntos" /> 
       
    <h:outputText value="100" /> 
    <h:outputText value="4 Horas" /> 
    <h:outputText value="30 Días" /> 
    <h:outputText value="$ 100.00" /> 
    <h:outputText value="No hay" /> 
    <h:outputText value="SirCriS" /> 
    <h:outputText value="600" /> 
     
    <h:outputText value="90" /> 
    <h:outputText value="4 Horas" /> 
    <h:outputText value="30 Días" /> 
    <h:outputText value="$ 100.00" /> 
    <h:outputText value="No hay" /> 
    <h:outputText value="SirCriS" /> 
    <h:outputText value="600" /> 
    
    <h:outputText value="100" /> 
    <h:outputText value="4 Horas" /> 
    <h:outputText value="30 Días" /> 
    <h:outputText value="$ 100.00" /> 
    <h:outputText value="No hay" /> 
    <h:outputText value="SirCriS" /> 
    <h:outputText value="600" /> 
    
    <h:outputText value="100" /> 
    <h:outputText value="4 Horas" /> 
    <h:outputText value="30 Días" /> 
    <h:outputText value="$ 100.00" /> 
    <h:outputText value="No hay" /> 
    <h:outputText value="SirCriS" /> 
    <h:outputText value="600" /> 
    
    <h:outputText value="100" /> 
    <h:outputText value="4 Horas" /> 
    <h:outputText value="30 Días" /> 
    <h:outputText value="$ 100.00" /> 
    <h:outputText value="No hay" /> 
    <h:outputText value="SirCriS" /> 
    <h:outputText value="600" /> 
    
    <h:outputText value="100" /> 
    <h:outputText value="4 Horas" /> 
    <h:outputText value="30 Días" /> 
    <h:outputText value="$ 100.00" /> 
    <h:outputText value="No hay" /> 
    <h:outputText value="SirCriS" /> 
    <h:outputText value="600" /> 
    
    <h:outputText value="100" /> 
    <h:outputText value="4 Horas" /> 
    <h:outputText value="30 Días" /> 
    <h:outputText value="$ 100.00" /> 
    <h:outputText value="No hay" /> 
    <h:outputText value="SirCriS" /> 
    <h:outputText value="600" /> 
</p:panelGrid>
    </p:fieldset>
            </h:form>
        </center>
    </h:body>
    
</html>