<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateEmpleadoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateEmpleadoLabel_idempleado}" for="idempleado" />
                    <h:inputText id="idempleado" value="#{empleadoController.selected.idempleado}" title="#{bundle.CreateEmpleadoTitle_idempleado}" required="true" requiredMessage="#{bundle.CreateEmpleadoRequiredMessage_idempleado}"/>
                    <h:outputLabel value="#{bundle.CreateEmpleadoLabel_username}" for="username" />
                    <h:inputText id="username" value="#{empleadoController.selected.username}" title="#{bundle.CreateEmpleadoTitle_username}" required="true" requiredMessage="#{bundle.CreateEmpleadoRequiredMessage_username}"/>
                    <h:outputLabel value="#{bundle.CreateEmpleadoLabel_rango}" for="rango" />
                    <h:inputText id="rango" value="#{empleadoController.selected.rango}" title="#{bundle.CreateEmpleadoTitle_rango}" />
                    <h:outputLabel value="#{bundle.CreateEmpleadoLabel_email}" for="email" />
                    <h:inputText id="email" value="#{empleadoController.selected.email}" title="#{bundle.CreateEmpleadoTitle_email}" required="true" requiredMessage="#{bundle.CreateEmpleadoRequiredMessage_email}"/>
                    <h:outputLabel value="#{bundle.CreateEmpleadoLabel_ciudad}" for="ciudad" />
                    <h:inputText id="ciudad" value="#{empleadoController.selected.ciudad}" title="#{bundle.CreateEmpleadoTitle_ciudad}" />
                    <h:outputLabel value="#{bundle.CreateEmpleadoLabel_pais}" for="pais" />
                    <h:inputText id="pais" value="#{empleadoController.selected.pais}" title="#{bundle.CreateEmpleadoTitle_pais}" />
                    <h:outputLabel value="#{bundle.CreateEmpleadoLabel_password}" for="password" />
                    <h:inputText id="password" value="#{empleadoController.selected.password}" title="#{bundle.CreateEmpleadoTitle_password}" required="true" requiredMessage="#{bundle.CreateEmpleadoRequiredMessage_password}"/>
                    <h:outputLabel value="#{bundle.CreateEmpleadoLabel_fecharegistro}" for="fecharegistro" />
                    <h:inputText id="fecharegistro" value="#{empleadoController.selected.fecharegistro}" title="#{bundle.CreateEmpleadoTitle_fecharegistro}" required="true" requiredMessage="#{bundle.CreateEmpleadoRequiredMessage_fecharegistro}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{empleadoController.create}" value="#{bundle.CreateEmpleadoSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{empleadoController.prepareList}" value="#{bundle.CreateEmpleadoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateEmpleadoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
