<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditEmpleadoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditEmpleadoLabel_idempleado}" for="idempleado" />
                    <h:inputText id="idempleado" value="#{empleadoController.selected.idempleado}" title="#{bundle.EditEmpleadoTitle_idempleado}" required="true" requiredMessage="#{bundle.EditEmpleadoRequiredMessage_idempleado}"/>
                    <h:outputLabel value="#{bundle.EditEmpleadoLabel_username}" for="username" />
                    <h:inputText id="username" value="#{empleadoController.selected.username}" title="#{bundle.EditEmpleadoTitle_username}" required="true" requiredMessage="#{bundle.EditEmpleadoRequiredMessage_username}"/>
                    <h:outputLabel value="#{bundle.EditEmpleadoLabel_rango}" for="rango" />
                    <h:inputText id="rango" value="#{empleadoController.selected.rango}" title="#{bundle.EditEmpleadoTitle_rango}" />
                    <h:outputLabel value="#{bundle.EditEmpleadoLabel_email}" for="email" />
                    <h:inputText id="email" value="#{empleadoController.selected.email}" title="#{bundle.EditEmpleadoTitle_email}" required="true" requiredMessage="#{bundle.EditEmpleadoRequiredMessage_email}"/>
                    <h:outputLabel value="#{bundle.EditEmpleadoLabel_ciudad}" for="ciudad" />
                    <h:inputText id="ciudad" value="#{empleadoController.selected.ciudad}" title="#{bundle.EditEmpleadoTitle_ciudad}" />
                    <h:outputLabel value="#{bundle.EditEmpleadoLabel_pais}" for="pais" />
                    <h:inputText id="pais" value="#{empleadoController.selected.pais}" title="#{bundle.EditEmpleadoTitle_pais}" />
                    <h:outputLabel value="#{bundle.EditEmpleadoLabel_password}" for="password" />
                    <h:inputText id="password" value="#{empleadoController.selected.password}" title="#{bundle.EditEmpleadoTitle_password}" required="true" requiredMessage="#{bundle.EditEmpleadoRequiredMessage_password}"/>
                    <h:outputLabel value="#{bundle.EditEmpleadoLabel_fecharegistro}" for="fecharegistro" />
                    <h:inputText id="fecharegistro" value="#{empleadoController.selected.fecharegistro}" title="#{bundle.EditEmpleadoTitle_fecharegistro}" required="true" requiredMessage="#{bundle.EditEmpleadoRequiredMessage_fecharegistro}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                </h:panelGrid>
                <h:commandLink action="#{empleadoController.update}" value="#{bundle.EditEmpleadoSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditEmpleadoViewLink}"/>
                <br />
                <h:commandLink action="#{empleadoController.prepareList}" value="#{bundle.EditEmpleadoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditEmpleadoIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
