<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewEmpleadoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewEmpleadoLabel_idempleado}"/>
                    <h:outputText value="#{empleadoController.selected.idempleado}" title="#{bundle.ViewEmpleadoTitle_idempleado}"/>
                    <h:outputText value="#{bundle.ViewEmpleadoLabel_username}"/>
                    <h:outputText value="#{empleadoController.selected.username}" title="#{bundle.ViewEmpleadoTitle_username}"/>
                    <h:outputText value="#{bundle.ViewEmpleadoLabel_rango}"/>
                    <h:outputText value="#{empleadoController.selected.rango}" title="#{bundle.ViewEmpleadoTitle_rango}"/>
                    <h:outputText value="#{bundle.ViewEmpleadoLabel_email}"/>
                    <h:outputText value="#{empleadoController.selected.email}" title="#{bundle.ViewEmpleadoTitle_email}"/>
                    <h:outputText value="#{bundle.ViewEmpleadoLabel_ciudad}"/>
                    <h:outputText value="#{empleadoController.selected.ciudad}" title="#{bundle.ViewEmpleadoTitle_ciudad}"/>
                    <h:outputText value="#{bundle.ViewEmpleadoLabel_pais}"/>
                    <h:outputText value="#{empleadoController.selected.pais}" title="#{bundle.ViewEmpleadoTitle_pais}"/>
                    <h:outputText value="#{bundle.ViewEmpleadoLabel_password}"/>
                    <h:outputText value="#{empleadoController.selected.password}" title="#{bundle.ViewEmpleadoTitle_password}"/>
                    <h:outputText value="#{bundle.ViewEmpleadoLabel_fecharegistro}"/>
                    <h:outputText value="#{empleadoController.selected.fecharegistro}" title="#{bundle.ViewEmpleadoTitle_fecharegistro}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{empleadoController.destroyAndView}" value="#{bundle.ViewEmpleadoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewEmpleadoEditLink}"/>
                <br />
                <h:commandLink action="#{empleadoController.prepareCreate}" value="#{bundle.ViewEmpleadoCreateLink}" />
                <br />
                <h:commandLink action="#{empleadoController.prepareList}" value="#{bundle.ViewEmpleadoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewEmpleadoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
