<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateClientesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateClientesLabel_idclientes}" for="idclientes" />
                    <h:inputText id="idclientes" value="#{clientesController.selected.idclientes}" title="#{bundle.CreateClientesTitle_idclientes}" required="true" requiredMessage="#{bundle.CreateClientesRequiredMessage_idclientes}"/>
                    <h:outputLabel value="#{bundle.CreateClientesLabel_username}" for="username" />
                    <h:inputText id="username" value="#{clientesController.selected.username}" title="#{bundle.CreateClientesTitle_username}" required="true" requiredMessage="#{bundle.CreateClientesRequiredMessage_username}"/>
                    <h:outputLabel value="#{bundle.CreateClientesLabel_rango}" for="rango" />
                    <h:inputText id="rango" value="#{clientesController.selected.rango}" title="#{bundle.CreateClientesTitle_rango}" />
                    <h:outputLabel value="#{bundle.CreateClientesLabel_email}" for="email" />
                    <h:inputText id="email" value="#{clientesController.selected.email}" title="#{bundle.CreateClientesTitle_email}" required="true" requiredMessage="#{bundle.CreateClientesRequiredMessage_email}"/>
                    <h:outputLabel value="#{bundle.CreateClientesLabel_ciudad}" for="ciudad" />
                    <h:inputText id="ciudad" value="#{clientesController.selected.ciudad}" title="#{bundle.CreateClientesTitle_ciudad}" />
                    <h:outputLabel value="#{bundle.CreateClientesLabel_pais}" for="pais" />
                    <h:inputText id="pais" value="#{clientesController.selected.pais}" title="#{bundle.CreateClientesTitle_pais}" />
                    <h:outputLabel value="#{bundle.CreateClientesLabel_password}" for="password" />
                    <h:inputText id="password" value="#{clientesController.selected.password}" title="#{bundle.CreateClientesTitle_password}" required="true" requiredMessage="#{bundle.CreateClientesRequiredMessage_password}"/>
                    <h:outputLabel value="#{bundle.CreateClientesLabel_fecharegistro}" for="fecharegistro" />
                    <h:inputText id="fecharegistro" value="#{clientesController.selected.fecharegistro}" title="#{bundle.CreateClientesTitle_fecharegistro}" required="true" requiredMessage="#{bundle.CreateClientesRequiredMessage_fecharegistro}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{clientesController.create}" value="#{bundle.CreateClientesSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{clientesController.prepareList}" value="#{bundle.CreateClientesShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateClientesIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
