<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditClientesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditClientesLabel_idclientes}" for="idclientes" />
                    <h:inputText id="idclientes" value="#{clientesController.selected.idclientes}" title="#{bundle.EditClientesTitle_idclientes}" required="true" requiredMessage="#{bundle.EditClientesRequiredMessage_idclientes}"/>
                    <h:outputLabel value="#{bundle.EditClientesLabel_username}" for="username" />
                    <h:inputText id="username" value="#{clientesController.selected.username}" title="#{bundle.EditClientesTitle_username}" required="true" requiredMessage="#{bundle.EditClientesRequiredMessage_username}"/>
                    <h:outputLabel value="#{bundle.EditClientesLabel_rango}" for="rango" />
                    <h:inputText id="rango" value="#{clientesController.selected.rango}" title="#{bundle.EditClientesTitle_rango}" />
                    <h:outputLabel value="#{bundle.EditClientesLabel_email}" for="email" />
                    <h:inputText id="email" value="#{clientesController.selected.email}" title="#{bundle.EditClientesTitle_email}" required="true" requiredMessage="#{bundle.EditClientesRequiredMessage_email}"/>
                    <h:outputLabel value="#{bundle.EditClientesLabel_ciudad}" for="ciudad" />
                    <h:inputText id="ciudad" value="#{clientesController.selected.ciudad}" title="#{bundle.EditClientesTitle_ciudad}" />
                    <h:outputLabel value="#{bundle.EditClientesLabel_pais}" for="pais" />
                    <h:inputText id="pais" value="#{clientesController.selected.pais}" title="#{bundle.EditClientesTitle_pais}" />
                    <h:outputLabel value="#{bundle.EditClientesLabel_password}" for="password" />
                    <h:inputText id="password" value="#{clientesController.selected.password}" title="#{bundle.EditClientesTitle_password}" required="true" requiredMessage="#{bundle.EditClientesRequiredMessage_password}"/>
                    <h:outputLabel value="#{bundle.EditClientesLabel_fecharegistro}" for="fecharegistro" />
                    <h:inputText id="fecharegistro" value="#{clientesController.selected.fecharegistro}" title="#{bundle.EditClientesTitle_fecharegistro}" required="true" requiredMessage="#{bundle.EditClientesRequiredMessage_fecharegistro}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                </h:panelGrid>
                <h:commandLink action="#{clientesController.update}" value="#{bundle.EditClientesSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditClientesViewLink}"/>
                <br />
                <h:commandLink action="#{clientesController.prepareList}" value="#{bundle.EditClientesShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditClientesIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
