<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListClientesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListClientesEmpty}" rendered="#{clientesController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{clientesController.items.rowCount > 0}">
                    <h:outputText value="#{clientesController.pagination.pageFirstItem + 1}..#{clientesController.pagination.pageLastItem + 1}/#{clientesController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{clientesController.previous}" value="#{bundle.Previous} #{clientesController.pagination.pageSize}" rendered="#{clientesController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{clientesController.next}" value="#{bundle.Next} #{clientesController.pagination.pageSize}" rendered="#{clientesController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{clientesController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListClientesTitle_idclientes}"/>
                            </f:facet>
                            <h:outputText value="#{item.idclientes}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListClientesTitle_username}"/>
                            </f:facet>
                            <h:outputText value="#{item.username}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListClientesTitle_rango}"/>
                            </f:facet>
                            <h:outputText value="#{item.rango}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListClientesTitle_email}"/>
                            </f:facet>
                            <h:outputText value="#{item.email}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListClientesTitle_ciudad}"/>
                            </f:facet>
                            <h:outputText value="#{item.ciudad}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListClientesTitle_pais}"/>
                            </f:facet>
                            <h:outputText value="#{item.pais}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListClientesTitle_password}"/>
                            </f:facet>
                            <h:outputText value="#{item.password}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListClientesTitle_fecharegistro}"/>
                            </f:facet>
                            <h:outputText value="#{item.fecharegistro}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{clientesController.prepareView}" value="#{bundle.ListClientesViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{clientesController.prepareEdit}" value="#{bundle.ListClientesEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{clientesController.destroy}" value="#{bundle.ListClientesDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{clientesController.prepareCreate}" value="#{bundle.ListClientesCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListClientesIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
