<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewClientesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewClientesLabel_idclientes}"/>
                    <h:outputText value="#{clientesController.selected.idclientes}" title="#{bundle.ViewClientesTitle_idclientes}"/>
                    <h:outputText value="#{bundle.ViewClientesLabel_username}"/>
                    <h:outputText value="#{clientesController.selected.username}" title="#{bundle.ViewClientesTitle_username}"/>
                    <h:outputText value="#{bundle.ViewClientesLabel_rango}"/>
                    <h:outputText value="#{clientesController.selected.rango}" title="#{bundle.ViewClientesTitle_rango}"/>
                    <h:outputText value="#{bundle.ViewClientesLabel_email}"/>
                    <h:outputText value="#{clientesController.selected.email}" title="#{bundle.ViewClientesTitle_email}"/>
                    <h:outputText value="#{bundle.ViewClientesLabel_ciudad}"/>
                    <h:outputText value="#{clientesController.selected.ciudad}" title="#{bundle.ViewClientesTitle_ciudad}"/>
                    <h:outputText value="#{bundle.ViewClientesLabel_pais}"/>
                    <h:outputText value="#{clientesController.selected.pais}" title="#{bundle.ViewClientesTitle_pais}"/>
                    <h:outputText value="#{bundle.ViewClientesLabel_password}"/>
                    <h:outputText value="#{clientesController.selected.password}" title="#{bundle.ViewClientesTitle_password}"/>
                    <h:outputText value="#{bundle.ViewClientesLabel_fecharegistro}"/>
                    <h:outputText value="#{clientesController.selected.fecharegistro}" title="#{bundle.ViewClientesTitle_fecharegistro}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{clientesController.destroyAndView}" value="#{bundle.ViewClientesDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewClientesEditLink}"/>
                <br />
                <h:commandLink action="#{clientesController.prepareCreate}" value="#{bundle.ViewClientesCreateLink}" />
                <br />
                <h:commandLink action="#{clientesController.prepareList}" value="#{bundle.ViewClientesShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewClientesIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
