/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-jul-2019, 19:16:51
    Author     : Josue
*/
@media (min-width: 576px) { 
                            .img{
                                width: 10px;
                            }
}
