<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreatePaisesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreatePaisesLabel_idpais}" for="idpais" />
                    <h:inputText id="idpais" value="#{paisesController.selected.idpais}" title="#{bundle.CreatePaisesTitle_idpais}" required="true" requiredMessage="#{bundle.CreatePaisesRequiredMessage_idpais}"/>
                    <h:outputLabel value="#{bundle.CreatePaisesLabel_nombrep}" for="nombrep" />
                    <h:inputText id="nombrep" value="#{paisesController.selected.nombrep}" title="#{bundle.CreatePaisesTitle_nombrep}" required="true" requiredMessage="#{bundle.CreatePaisesRequiredMessage_nombrep}"/>
                    <h:outputLabel value="#{bundle.CreatePaisesLabel_descripcionp}" for="descripcionp" />
                    <h:inputTextarea rows="4" cols="30" id="descripcionp" value="#{paisesController.selected.descripcionp}" title="#{bundle.CreatePaisesTitle_descripcionp}" required="true" requiredMessage="#{bundle.CreatePaisesRequiredMessage_descripcionp}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{paisesController.create}" value="#{bundle.CreatePaisesSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{paisesController.prepareList}" value="#{bundle.CreatePaisesShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreatePaisesIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
