<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListPaisesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListPaisesEmpty}" rendered="#{paisesController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{paisesController.items.rowCount > 0}">
                    <h:outputText value="#{paisesController.pagination.pageFirstItem + 1}..#{paisesController.pagination.pageLastItem + 1}/#{paisesController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{paisesController.previous}" value="#{bundle.Previous} #{paisesController.pagination.pageSize}" rendered="#{paisesController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{paisesController.next}" value="#{bundle.Next} #{paisesController.pagination.pageSize}" rendered="#{paisesController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{paisesController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPaisesTitle_idpais}"/>
                            </f:facet>
                            <h:outputText value="#{item.idpais}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPaisesTitle_nombrep}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombrep}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPaisesTitle_descripcionp}"/>
                            </f:facet>
                            <h:outputText value="#{item.descripcionp}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{paisesController.prepareView}" value="#{bundle.ListPaisesViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{paisesController.prepareEdit}" value="#{bundle.ListPaisesEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{paisesController.destroy}" value="#{bundle.ListPaisesDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{paisesController.prepareCreate}" value="#{bundle.ListPaisesCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListPaisesIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
