<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewPaisesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewPaisesLabel_idpais}"/>
                    <h:outputText value="#{paisesController.selected.idpais}" title="#{bundle.ViewPaisesTitle_idpais}"/>
                    <h:outputText value="#{bundle.ViewPaisesLabel_nombrep}"/>
                    <h:outputText value="#{paisesController.selected.nombrep}" title="#{bundle.ViewPaisesTitle_nombrep}"/>
                    <h:outputText value="#{bundle.ViewPaisesLabel_descripcionp}"/>
                    <h:outputText value="#{paisesController.selected.descripcionp}" title="#{bundle.ViewPaisesTitle_descripcionp}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{paisesController.destroyAndView}" value="#{bundle.ViewPaisesDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewPaisesEditLink}"/>
                <br />
                <h:commandLink action="#{paisesController.prepareCreate}" value="#{bundle.ViewPaisesCreateLink}" />
                <br />
                <h:commandLink action="#{paisesController.prepareList}" value="#{bundle.ViewPaisesShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewPaisesIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
